.dsg-container {
    background-color: #161616 !important;
    border: 0.5px solid #313131 !important;
    border-radius: 20px;
    }
    
    .dsg-row {
        display: flex;
    }
    
    .dsg-cell {
        background-color: #161616 !important;
        color: white !important;
        border: solid 0.5px #313131 !important;
        /* color: var(--color-text); */
    }
    
    .dsg-input {
        color: white !important;
    }
    
    
    .tableWrapper {
        /* width: calc(100vw - 90px - 300px - 14px - 200px); */
        /* height: calc( 100vh - 100px ) */
        /* display: flex; */
        /* flex-direction: column; */
        height: inherit;
        overflow-y: hidden;
        scrollbar-width: none;
        margin: 7px;
        margin-bottom: 0;
        margin-top: 20px;
    }
    
    /* .tableWrapper:nth-child(1) { */
        /* height: inherit; */
    /* } */

    .tableWrapper .dsg-container {
        /* height: calc(100vh - 20px - 7px - 60px) !important; */
        height: inherit !important;
        overflow-x: scroll;
        scrollbar-width: none;
    }
      
    /* .dsg-row .dsg-row-header {
    } */
    div.dsg-container div div.dsg-row.dsg-row-header {
        display: flex;
        flex-direction: row;
    }
    
    .dsg-row-header {
        background-color: #161616 !important;
        /* color: white !important; */
        /* border: solid 0.5px #313131 !important; */
        /* color: var(--color-text); */
    }
    
    .tableWrapper .dsg-container > div:nth-child(1) {
        min-width: 100vw !important;
      }  